<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-icon>home</mat-icon>
  <span>Ristorante Con Fusion</span></mat-toolbar>

<div>
  <span>mat-button:</span>
  <button mat-button>I'm a basic generic button</button>
  <button mat-button color="primary">I'm a basic button with color="primary"</button>
  <button mat-button class="background-primary-color white-text">I'm a basic button with a custom css. background
    primary color and white text.
  </button>
</div>

<div>
  <span>mat-raised-button:</span>
  <button mat-raised-button>mat-raised-button</button>
  <button mat-raised-button color="primary">mat-raised button with color="primary"</button>
</div>

<div>
  <span>mat-fab:</span>
  <button mat-fab>
    <mat-icon class="white-text">accessibility</mat-icon>
  </button>
  <button mat-mini-fab>
    <mat-icon class="white-text">accessibility</mat-icon>
  </button>
</div>

<div>
  <span>mat-icon-button:</span>
  <button mat-icon-button>
    <mat-icon>accessibility</mat-icon>
  </button>
</div>

<div>
  <span>mat-chip-list</span>
  <mat-chip-list>
    <mat-chip>mat-chip</mat-chip>
    <mat-chip class="background-primary-color white-text">mat-chip-background-primary-color white-text</mat-chip>
    <mat-chip color="primary" selected="true">mat-chip color="primary" selected="true"</mat-chip>
    <mat-chip color="accent" selected="true">mat-chip color="accent" selected="true"</mat-chip>
    <mat-chip color="warn" selected="true">mat-chip color="warn" selected="true"</mat-chip>
  </mat-chip-list>
</div>

<div>
  <span>mat-basic-chip-list</span>
  <mat-chip-list>
    <mat-basic-chip>mat basic chip 1</mat-basic-chip>
    <mat-basic-chip>mat basic chip 2</mat-basic-chip>
    <mat-basic-chip>mat basic chip 3</mat-basic-chip>
  </mat-chip-list>
</div>

<div>
  <mat-progress-spinner mode="determinate" value="25"></mat-progress-spinner>

  <mat-progress-spinner mode="determinate" value="50" color="accent"></mat-progress-spinner>

  <mat-progress-spinner mode="determinate" value="75" color="warn"></mat-progress-spinner>
</div>

<h3 class="primary-color">Determinate</h3>
<div class="margin-top-20">
  <mat-progress-bar color="accent" mode="determinate" value="33"></mat-progress-bar>
</div>
<h3 class="primary-color">Indeterminate</h3>
<div>
  <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</div>
<h3 class="primary-color">Buffer</h3>
<div>
  <mat-progress-bar color="accent" mode="buffer" bufferValue="40"></mat-progress-bar>
</div>
<h3 class="primary-color">Query</h3>
<div>
  <mat-progress-bar color="accent" mode="query"></mat-progress-bar>
</div>
